{{yield}}
<center>
  <br><br>
  <h4>Averages for junior-level grades (5-8)</h4>
{{scatter-chart data=juniorPayChartData dotRadius=15 xValueDisplayName="Salary" yValueDisplayName="GS Scale" selectedSeedColor="rgb(30,143,12)"}}
  <br><br>
  <h4>Averages for mid-level grades (9-12)</h4>
{{scatter-chart data=midPayChartData dotRadius=15 xValueDisplayName="Salary" yValueDisplayName="GS Scale" selectedSeedColor="rgb(30,143,12)"}}
  <br><br>
  <h4>Averages for senior-level grades (13-15)</h4>
{{scatter-chart data=seniorPayChartData dotRadius=15 xValueDisplayName="Salary" yValueDisplayName="GS Scale" selectedSeedColor="rgb(30,143,12)"}}
</center>
