<div class="col-md-6">
SKILLS
<ul>
  {{#if model.skills.length}}
    {{#each model.skills as |skill|}}
    <li>{{#link-to 'sections.section.skill' skill.id}}{{skill.name}}{{/link-to}}</li>
    {{/each}}
  {{else}}
      <li>No skill modifiers for this category</li>
  {{/if}}
</ul>
</div>
<div class="row">


  <br>

  <br>
  {{outlet}}
{{section-chart model=model}}

</div>
