SECTION.HBS
<ul>
  <li>{{model.name}}</li>

<!-- <li>{{model.chartData}}</li> -->

{{vertical-bar-chart data=model.chartData}}

<ul>
  {{#each model.chartData as |job|}}
  <li>{{job.group}}</li>
  {{/each}}
</ul>

</ul>
