<div class="col-md-6">
  <ul class="list-inline">
  {{#if model.skills.length}}
    {{#each model.skills as |skill|}}
    <li>{{#link-to 'sections.section.skill' skill.id}}{{skill.name}}{{/link-to}}</li><br>
    {{/each}}
  {{else}}
      <i>No skill modifiers for this category</i>
  {{/if}}
  </ul>
</div>
<div class="row">


  <br>

  <br>
  {{outlet}}
  <div class="col-md-12">
    <br>
    {{section-chart model=model}}
  </div>

</div>
