<ul>
<li>{{#link-to 'public-sector-jobs'}}Public Sector Jobs{{/link-to}}</li>

<li>{{#link-to 'sections'}}Sections{{/link-to}}</li>

<li>{{#link-to 'locations'}}Locations{{/link-to}}</li>

</ul>

{{outlet}}
