<div id="wrapper">

    <!-- Navbar -->
    <ul class="nav nav-pills visible-xs" id="topnav">
      <center>
      {{#link-to 'index'}}<img src="https://cdn2.iconfinder.com/data/icons/health-care-5/512/cyborg_brain-512.png" height=100px>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{/link-to}}
      <br><br>
      <li>{{#bs-dropdown}}
        {{#bs-dropdown-button}}Public Sector{{/bs-dropdown-button}}
        {{#bs-dropdown-menu}}
          <li>{{#link-to 'combined-public-salaries'}}Combined Pay{{/link-to}}</li>
          <li>{{#link-to "index"}}Something different{{/link-to}}</li>
        {{/bs-dropdown-menu}}
      {{/bs-dropdown}}
      {{#bs-dropdown}}
        {{#bs-dropdown-button}}Private Sector{{/bs-dropdown-button}}
        {{#bs-dropdown-menu}}
          <li>{{#link-to 'sections'}}Average Pay by Category{{/link-to}}</li>
        {{/bs-dropdown-menu}}
      {{/bs-dropdown}}
      {{#bs-dropdown}}
        {{#bs-dropdown-button}}Comparison{{/bs-dropdown-button}}
        {{#bs-dropdown-menu}}
          <li>{{#link-to 'locations'}}By Location{{/link-to}}</li>
          <li>{{#link-to 'averages'}}By Average Salary{{/link-to}}</li>
        {{/bs-dropdown-menu}}
      {{/bs-dropdown}}</li>
    </center>
    </ul>

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
          <br>
          <li class="sidebar-brand">
            <center>{{#link-to 'index'}}<img src="https://cdn2.iconfinder.com/data/icons/health-care-5/512/cyborg_brain-512.png">{{/link-to}}</center>
          </li>
          <br>
          <br>
            <li class="sidebar-brand">
              <h3 id="logo-header">SectorSalaries</h3>
            </li>

            {{#bs-accordion selected=selected}}
                {{#bs-accordion-item value="1" title="Public Sector"}}
                  <p>{{#link-to 'public-sector-jobs'}}Base Pay{{/link-to}}</p>
                  <p>{{#link-to 'combined-public-salaries'}}Combined Pay{{/link-to}}</p>
                {{/bs-accordion-item}}
                {{#bs-accordion-item value="2" title="Private Sector"}}
                  <p>{{#link-to 'sections'}}Average Pay by Category{{/link-to}}</p>
                {{/bs-accordion-item}}
                {{#bs-accordion-item value="3" title="Comparison"}}
                  <p>{{#link-to 'locations'}}By Location{{/link-to}}</p>
                  <p>{{#link-to 'averages'}}By Average Salary{{/link-to}}</p>
                {{/bs-accordion-item}}
            {{/bs-accordion}}

        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                  {{outlet}}
                  </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->
