<h1>Public Sector Jobs in Technology</h1>

<h3>Methodology</h3>
Government technology salaries are calculated based on three separate factors: base pay, locality pay, and special pay.
An employee's salary amounts to <b>base pay multiplied by either the locality or special pay</b>, depending on the level of experience (i.e. grade) and which supplement would result in a higher salary.

<br><br>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <center><h5>Base pay</h5></center>
      Base pay is <i>standardized across the government</i>, and based on 2016 rates.
      It serves as the foundation for calculating variances based on type of role (e.g. STEM) and location.
    </div>
    <div class="col-sm-4">
      <center><h5>Locality pay</h5></center>
      Locality pay is an addition to one's base salary depending on location.
      It is meant to reflect cost of living and market rates for a particular place.
    </div>
    <div class="col-sm-4">
      <center><h5>Special pay</h5></center>
      Special pay is a supplement awarded for roles that are more lucrative in the private sector.
      In our calculations, selected special rates apply to the following positions:
      <ul>
        <li>COMPUTER ENGINEER</li>
        <li>COMPUTER SCIENCE SPECIALIST</li>
        <li>INFORMATION TECHNOLOGY MANAGEMENT</li>
      </ul>
    </div>
  </div>
</div>
<br>
<h4>Pay Grades & Steps</h4>
Federal employees are hired at a general schedule (GS) grade from 1 to 15.
GS grades are based on the combination of a number of variables including education, background, accomplishments, experience, etc.
Inside each grade is a series of 10 steps.
Employees typically start at step 1 of whatever GS grade they are assigned.
(<a href="https://pages.18f.gov/joining-18f/pay-grades/">18F</a>)
We calculated the minimum and maximum salaries of each grade based on the lowest and highest steps available (steps 1 and 10, respectively).

<br><br>
<center><h3>Special & Locality Pay</h3></center>
{{combined-public-chart model=model}}

{{outlet}}


<h4>Sources:</h4>
<h5>Office of Personnel Management (OPM)</h5>
<li><a href="https://www.opm.gov/policy-data-oversight/pay-leave/salaries-wages/2016/general-schedule/">Base pay</a></li>
<li><a href="https://apps.opm.gov/SpecialRates/2016/IndexByOccupations.aspx">Special pay</a></li>
<h5>18F</h5>
<li><a href="https://pages.18f.gov/joining-18f/pay-grades/">Explanation of federal pay grades</a></li>
