
<h1>Welcome to SectorSalaries!</h1>
<h3>Developers: <a href="https://github.com/JustinNazari">Justin Nazari</a> and <a href="https://github.com/alemosie">Alex Siega</a></h3>
<br>
<p>The goal for this project was to create interesting and useful data visualizations for private and public sector technology employee salaries.</p>
<p> On the front-end, we used Ember.js and EmberCharts for our charts. The data is served in JSON from a Postgres Rails API. The data public salary data was collected and parsed from OPM.gov and the private sector salary data was parsed from Robert Half International's 2016 Salary Guide.</p>
<p>Our plan is to continue improving the application with new data and visualizations -- we welcome your ideas, comments, and contributions! </p>
<i>Note: Due to the data visualizations, this project is best viewed on larger screens (tablet or above).</i>
<br><br><br>
<p>The code is completely <b>open-source and available on GitHub</b>:</p>
<p><i class="fa fa-github" aria-hidden="true"></i><a href="https://github.com/JustinNazari/government-tech-jobs-payscale-ember"> Ember.js Front-End</a></p>
<p><i class="fa fa-github" aria-hidden="true"></i><a href="https://github.com/JustinNazari/government-tech-jobs-payscale-api"> Rails API Back-End</a></p>
