<div class='container'>
<h1>Welcome to SectorSalaries!</h1>
<h3>Developers: <a href="https://github.com/JustinNazari">Justin Nazari</a> and <a href="https://github.com/alemosie">Alex Siega</a></h3>
</div>
<br>
<p>The goal for this project was to create interesting and useful data visualizations for private and public sector tech employee salaries.</p>
<p> On the front-end, we used Ember.js and EmberCharts for our charts. The data is served in JSON from a Postgres Rails API. The data public salary data was collected and parsed from OPM.gov and the private sector salary data was parsed from Robert Half International's 2016 Salary Guide.</p>
<p>Our plan is to continue improving the application with new data and visualizations.</p>
<br>
<p>The code is completely open-source and available on Github:</p>
<br>
<p><i class="fa fa-github" aria-hidden="true"></i><a href="https://github.com/JustinNazari/government-tech-jobs-payscale-ember"> Ember Front-End</a></p>
<p><i class="fa fa-github" aria-hidden="true"></i><a href="https://github.com/JustinNazari/government-tech-jobs-payscale-api"> Rails Back-End</a></p>
