Locations

<!-- <ul>
  {{#each model as |location|}}
  <li>{{link-to location.city 'locations.location' location.id}}</li>
  {{/each}}
</ul> -->

{{public-locality-pay-chart model=model}}
{{private-locality-pay-chart model=model}}
