<h1>Comparison between Public and Private Sector Jobs</h1>

<h3>Location</h3>
Both public and private sector datasets provide insight into how these sectors compensate employees based on location.
This extra <b>locality compensation is calculated by a supplement coefficent</b>, which represents a percentage to be multiplied with the average (private) or base (public) pay in that location.
The scatter plot below shows the government and industry coefficients for locations that each dataset shared.
Overall, you can see that <b>public sector coefficient for low-cost areas (e.g. Ohio) are far greater</b> than private counterparts.
<br><br>
{{state-chart model=model}}

{{outlet}}
<!-- <div class= "col-md-6">
{{public-locality-pay-chart model=model}}
</div>
<div class= "col-md-6">
{{private-locality-pay-chart model=model}}
</div> -->
