<h1>Private Sector Jobs in Technology</h1>

<h3>Methodology</h3>
Information about private sector salaries comes from <a href="https://www.roberthalf.com/sites/default/files/Media_Root/images/rht-pdfs/robert_half_technology_2016_salary_guide.pdf">
Robert Half International's 2016 Salary Guide</a>, which forecasts
compensation trends across a wide array of technology positions. Salaries
reflect starting pay only and do not include bonuses and other forms of
compensation. The salary information in the guide is <i>based on the real life
observations</i> of our Robert Half Technology staffing and recruiting
professionals who make thousands of interim and full-time placements each
year, as well as frequent surveys of chief information officers (CIOs) and
other IT professionals.
<br><br>
<h4>Skill coefficients</h4>
Certain technology fields have skills that provide an additional boost to one's salary.
The coefficients are <b>based on national averages</b>.
<br><br><br>

<div class="col-md-6">
  <center><h4>Categories</h4></center>
  <ul><hr>
  {{#each model as |section|}}
    <p id="cat-link">{{link-to section.name 'sections.section' section}}</p>
  {{/each}}
  </ul>
</div>

<div class="col-md-6">
  <center><h4>Skills</h4></center>
  <hr>
</div>
{{outlet}}
