<h1>Private Sector Jobs in Technology</h1>

<h3>Methodology</h3>
Information about private sector salaries comes from Robert Half International's 2016 Salary Guide, which forecasts
compensation trends across a wide array of technology positions. Salaries
reflect starting pay only and do not include bonuses and other forms of
compensation. The salary information in the guide is based on the real life
observations of our Robert Half Technology staffing and recruiting
professionals who make thousands of interim and full-time placements each
year, as well as frequent surveys of chief information officers (CIOs) and
other IT professionals.
<br><br>
Skill coefficients
<br>
Certain technology fields... based on national... averages, to IT salaries for the following skills.

<div class="col-md-6">
<ul>
{{#each model as |section|}}
<li>{{link-to section.name 'sections.section' section}}</li>
{{/each}}

</ul>
</div>
{{outlet}}
